<nav class="navbar navbar-expand-md bg-light mb-4">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand">
            <img src="../../assets/images/accenture_logo.png" alt="Logo" style="height: 3vh;">
        </a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/country/countryForm">Country</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/country/searchByCountry">Search by Country</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/country/searchByCapitalCity">Search by Capital City</a>
                </li>
            </ul>
        </div>

    </div>
</nav>