<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="form-label">{{ inputLabel }}</label>
            <div class="input-group">
                <input [type]="type" [id]="name" class="form-control" [formControl]="control" [(ngModel)]="textInput" (ngModelChange)="onInputChange()">
                <span class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </div>
        </div>
    </div>
</div>
